@import "./variables";

:root {
  --header_background: #{$color-main};
  --button_primary_background: #{$color-main};
  //--background_page: #fff;
  --font-ios: "PFCentroSansPro", Helvetica Neue, Arial;
  --font-android: "PFCentroSansPro", Roboto, Arial;
  --font-common: "PFCentroSansPro", Roboto, Helvetica Neue;
  --text_primary: #{$color-second};
}

.gen {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  &__item {
    width: 100%;
    flex: 1 0 100%;
    margin: 0 10px;
    text-align: center;
    background: #fff;

    font-size: 1.4em;
  }
}
.Group__content {
  background-color: #fff;
  background-image: linear-gradient(#f2f4f4 1px, transparent 1px), linear-gradient(90deg, #f2f4f4 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
.Header--level-secondary {
  font-weight: bold;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}
.logo {
  display: block;
  width: 90%;
  max-width: 200px;
}
.treangle-red {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $color-main;
  margin-right: 5px;
}
.Header__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    width: 40px;
    height: auto;
    margin-right: 10px;
  }
  span {
    padding-top: 2px;
  }
}
.back-top {
  .Group__content {
    background-image: url(../static/img/top.svg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 160px auto;
    padding-bottom: 20px;
  }
  .List {
    background: none !important;
  }
}
.generator-wrapper {
  padding-bottom: 20px;
}
.score {
  text-align: center;
  span {
    font-size: 2em;
    color: $color-main;
    font-weight: bold;
    &:nth-child(even) {
      color: $color-second;
    }
  }
}
.btn {
  text-decoration: none;
}
